datasets==4.4.2
evaluate==0.4.6
jiwer==4.0.0
librosa==0.11.0
numpy==2.2.6
opensmile==2.6.0
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.15.3
soundfile==0.13.1
tqdm==4.67.1
transformers==4.57.3
accelerate==0.26.0